@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
.header {
  max-width: 1184px;
  margin: 30px auto 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header__lang {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  line-height: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #222a48;
  color: #fff;
  padding: 0 0 0 0;
  margin: 7px 0 auto 0;
}
.header__lang_isActive {
  border-bottom: 1px solid #fff;
  margin-right: 18px;
  padding-bottom: 2px;
}

.logo:hover {
  opacity: 0.7;
}

.header__lang_isActive:hover {
  opacity: 0.7;
}

@keyframes dash {
  /*   to {
      stroke-dashoffset: 1300;
    } */
  from {
    stroke-dashoffset: 1278;
  }
}
.lead {
  margin: 0 auto 80px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  max-width: 950px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.lead__title {
  margin: 0 0 37px;
  max-width: 782px;
  font-weight: 900;
  word-wrap: break-word;
  font-size: 96px;
  line-height: 93px;
}
.lead__subtitle {
  margin: 0 0 70px;
  max-width: 583px;
  font-weight: 400;
  word-wrap: break-word;
  font-size: 30px;
  line-height: 36px;
}
.lead__items {
  display: flex;
  flex-direction: column;
}
.lead__image {
  max-width: 984px;
  max-height: 554px;
  border: none;
}
.lead__image-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lead__image-vector {
  background-image: url(../images/lead/Group5.svg);
  position: absolute;
  align-items: center;
  padding-top: 125px;
}
.lead__image-vector-line {
  position: absolute;
  stroke-dasharray: 2560;
  stroke-dashoffset: 2559;
  animation: dash 40s linear 1;
  animation-delay: 0.1s;
}
.lead__caption {
  padding: 0;
  margin: 12px 0 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
}

.intro {
  color: #ffffff;
  max-width: 985px;
  margin: 0 auto 85px;
  font-family: "Inter", sans-serif;
}
.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  margin-bottom: 30px;
}
.intro__subtitle {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}
.intro__content-row {
  display: flex;
}
.intro__content-row_bold {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
}
.intro__content-row-text {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  max-width: 683px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
}
.intro__content-row-author {
  font-family: "Inter", sans-serif;
  max-width: 283px;
  flex-direction: column;
  padding-left: 18px;
  list-style: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  margin-top: 0;
}
.intro__list {
  font-family: "Inter", sans-serif;
  max-width: 383px;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.intro__list-number {
  font-weight: 400;
  display: inline-block;
}

.photo-grid {
  justify-content: center;
  max-width: 1184px;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 188px);
  gap: 16px;
}
.photo-grid__img {
  width: 284px;
  height: 188px;
}

.places {
  max-width: 984px;
  margin: 0 auto 100px;
  color: #fff;
}

.place {
  margin-bottom: 74px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.place__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  width: 457px;
  margin: 10px 0 50px 0;
}
.place__website {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  margin-bottom: 50px;
}
.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin-top: 14px;
}
.place__url {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  border: 2px solid transparent;
  flex-direction: none;
}
.place__url:hover {
  opacity: 0.7;
  border-bottom: 2px solid #fff;
}
.place__items {
  display: flex;
  justify-content: space-between;
}
.place__image {
  width: 460px;
  height: 460px;
}
.place__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 25px 40px;
}

.video {
  font-family: "Inter", sans-serif;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.video__content-title {
  line-height: 78px;
}
.video__container {
  display: flex;
  justify-content: space-between;
}
.video__items {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 583px;
  height: 323px;
  border-radius: 5px;
}
.video__items-bg-kamchatka {
  background-image: url(../images/video/kamchatka.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video__item {
  box-sizing: border-box;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.video__icon {
  margin: 30px 0 0 30px;
}
.video__duration {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 90px 0 0 30px;
}
.video__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  margin: 12px 0 0 30px;
  max-width: 322px;
}
.video__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 18px 0 0 30px;
}
.video__items-bg-observatory {
  background-image: url(../images/video/observatory.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video__item:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.9s;
}
.video__item:hover .video__icon_type_play {
  transform: scale(1.2);
}
.video__item .video__icon_type_play {
  transition: transform 0.3s ease-in;
}

.video__items-link {
  text-decoration: none;
}

.additional {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.additional__container {
  display: flex;
  justify-content: space-between;
}
.additional__item {
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 13px;
}
.additional__heading {
  font-family: "Inter", sans-serif;
  z-index: 1;
  margin: 0;
  font-weight: 900;
  font-size: 27px;
  line-height: 29px;
}
.additional__text {
  font-family: "Inter", sans-serif;
  z-index: 1;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.additional__img-nvrssk {
  background: url(../images/additional/nvrssk.jpg) rgba(0, 0, 0, 0.5);
  width: 284px;
  height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.additional__img-shickan {
  background-image: url(../images/additional/shickan.jpg);
  width: 284px;
  height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.additional__img-cherepovets {
  background-image: url(../images/additional/cherepovets.jpg);
  width: 284px;
  height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.additional__img-nikola {
  background-image: url(../images/additional/nikola.jpg);
  width: 284px;
  height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.additional__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.comments {
  max-width: 1184px;
  margin: 0 auto 90px;
}
.comments__container {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.comment {
  font-family: "Inter", serif;
  max-width: 382px;
}
.comment__image {
  border-radius: 50%;
  max-width: 90px;
  margin: 0 0 38px;
}
.comment__quote {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
}
.comment__author {
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.cover {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  background-image: url(../images/cover/cover.jpg);
  height: 594px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover__link {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
  color: #fff;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cover__link:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.9s;
}
.cover__title {
  max-width: 1094px;
  margin-bottom: 117px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  z-index: 1;
}
.cover__subtitle {
  max-width: 382px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

.emblem {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.emblem__title {
  max-width: 443px;
  font-weight: 900;
  font-size: 42px;
  line-height: 46px;
  margin: 0 0 80px;
}
.emblem__wrapper {
  display: flex;
  justify-content: space-between;
}
.emblem__item {
  width: 208px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.emblem__image {
  width: 180px;
  height: 226px;
  margin-bottom: 35px;
}
.emblem__city {
  color: #CCCCCC;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  margin: 0;
}

.barentsburg {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.barentsburg__title {
  font-weight: 900;
  font-size: 42px;
  line-height: 61px;
  margin: 0;
}
.barentsburg__coord {
  font-weight: 400;
  font-size: 42px;
  line-height: 61px;
  margin: 0;
}
.barentsburg__map {
  max-width: 1184px;
  max-height: 464px;
  margin: 30px 0;
}
.barentsburg__items {
  display: flex;
  margin-top: 7px;
}
.barentsburg__text {
  max-width: 400px;
  margin: 0 100px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.barentsburg__item {
  max-width: 280px;
}
.barentsburg__url-heading {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin: 0;
}
.barentsburg__link {
  min-height: 40px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.barentsburg__link:hover {
  opacity: 0.7;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto 50px;
}
.footer__link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
  margin: 0 18px 0 0;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__copyright {
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  padding-top: 16px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
}

.content-title {
  font-family: "Inter", sans-serif;
  margin: 0 auto 34px;
  padding-top: 10px;
  max-width: 800px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  text-align: center;
}

.content-subtitle {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #fff;
  max-width: 640px;
  text-align: center;
  margin: 0 auto 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}