.barentsburg {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    font-family: "Inter", sans-serif;
    color: #fff;
    &__title {
        font-weight: 900;
        font-size: 42px;
        line-height: 61px;
        margin: 0;
    }
    &__coord {
        font-weight: 400;
        font-size: 42px;
        line-height: 61px;
        margin: 0;
    }
    &__map {
        max-width: 1184px;
        max-height: 464px;
        margin: 30px 0;
    }
    &__items {
        display: flex;
        margin-top: 7px;
    }
    &__text {
        max-width: 400px;
        margin: 0 100px 0 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.5px;
    }
    &__item {
        max-width: 280px;
    }
    &__url-heading {
        display: flex;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2em;
        color: #aaaaaa;
        margin: 0;
    }
    &__link {
        min-height: 40px;
        color: #fff;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-decoration-line: underline;
    }
    &__link:hover {
        opacity: 0.7;
    }
}