.header {
    max-width: 1184px;
    margin: 30px auto 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    &__lang {
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        line-height: 23px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #222a48;
        color: #fff;
        padding: 0 0 0 0;
        margin: 7px 0 auto 0;
        &_isActive {
            border-bottom: 1px solid #fff;
            margin-right: 18px;
            padding-bottom: 2px;
        }
    }
}

.logo:hover {
    opacity: 0.7;
}

.header__lang_isActive:hover {
    opacity: 0.7;
}

.logo {}