@keyframes dash {
    /*   to {
        stroke-dashoffset: 1300;
      } */
    from {
        stroke-dashoffset: 1278;
    }
}

.lead {
    margin: 0 auto 80px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 985px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Inter", sans-serif;
    @media screen and (min-width: 1440px) {
        margin: 30px auto 80px;
        max-width: 985px;
    }
    @media screen and (max-width: 1279px) {
        margin: 0 auto 80px;
        max-width: 928px;
    }
    @media screen and (max-width: 1023px) {
        margin: 0 auto 80px;
    }
    @media screen and (max-width: 767px) {
        margin: 0 0 80px;
    }
    @media screen and (max-width: 375px) {
        margin: 0 0 64px;
    }
    &__title {
        margin: 0 0 37px;
        max-width: 782px;
        font-weight: 900;
        word-wrap: break-word;
        font-size: 6em;
        line-height: 0.98;
        @media screen and (max-width: 1280px) {
            margin: 0 0 30px;
        }
        @media screen and (max-width: 767px) {
            margin: 0 24px 37px;
        }
        @media screen and (min-width: 550px) and (max-width: 767px) {
            margin: 0 16px 37px;
            font-size: 3.9em;
            line-height: 1.1;
        }
        @media screen and (max-width: 550px) {
            margin: 0 30px 10px;
            font-size: 2.5em;
            line-height: 1.1;
        }
    }
    &__subtitle {
        margin: 0 0 70px;
        max-width: 660px;
        font-weight: 400;
        word-wrap: break-word;
        font-size: 1.9em;
        line-height: 1.2;
        @media screen and (min-width: 1024px) {
            max-width: 610px;
        }
        @media screen and (max-width: 1023px) {
            max-width: 665px;
        }
        @media screen and (min-width: 550px) and (max-width: 767px) {
            max-width: 500px;
            font-size: 1.5em;
            line-height: 1.4;
        }
        @media screen and (min-width: 1px) and (max-width: 550px) {
            margin-bottom: 32px;
            max-width: 320px;
            font-size: 1em;
            line-height: 1.4;
        }
    }
    &__items {
        // width: 100%;
        // padding-bottom: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    &__image {
        width: 100%;
        border: none;
        @media screen and (max-width: 375px) {
            min-height: 212px;
        }
    }
    &__image-bg {
        max-width: 985px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 1280px) {
            min-height: 560px;
        }
        @media screen and (max-width: 1023px) {
            min-height: 420px;
        }
        @media screen and (max-width: 767px) {
            min-height: 211px;
        }
    }
    &__image-vector {
        position: absolute;
        // align-items: center;
        // padding-top: 13%;
        width: 96%;
        height: 100%;
        transform: translate(2%, -10%);
        // @media screen and (max-width: 535px) {
        //     padding-top: 0;
        // }
    }
    &__image-vector-line {
        position: absolute;
        stroke-dasharray: 2560;
        stroke-dashoffset: 2559;
        animation: dash 40s linear 1;
        animation-delay: 0.1s;
    }
    &__caption {
        padding: 0;
        margin: 12px 0 0;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.6em;
        line-height: 1.2;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.15em;
        @media screen and (max-width: 1023px) {
            padding-left: 24px;
        }
        @media screen and (max-width: 375px) {
            padding-left: 16px;
        }
    }
}